* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.boxcenter {
    width: 70%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-color: #8aaae5;
    color: #fff;
    border-radius: 5px;
}

.footer {
    background-color: #8aaae5;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: small;
    font-weight: bold;
}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    background-color:#4831d4;
    color: #ccf381;
    border-radius: 5px;

}

.boxtrai {
    float: left;
    width: 74%;
}

.boxphai {
    float: left;
    width: 24%;
}

.boxtitle {
    color: #333;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
    font-weight: bold;

}

.boxcontent {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.boxcontent2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    background-color: #eee;
}

.boxfooter {
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.banner img {
    height: 300px;
}

.boxsp {
    float: left;
    width: 32%;
    min-height: 250px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}
.boxsp p{
    font-size: 0.8vw;
    font-weight:bolder;
    color: #ec4d37;
}
.boxsp a {
    color: #1d1b1b;
    text-decoration: none;
    font-size: 0.8vw;
    font-weight: bold;
    

}

.boxsp a:hover {
    color:#ec4d37;
}

.boxsp .img {
    min-height: 200px;
    text-align: center;
}

.img img {
    height: 190px;
}

.menu ul {
    padding: 0px 15px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: #ccf381;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.menu ul li a:hover {
    color: white;
    font-size: 0.8vw;
}

/*box tai khoan*/
.formtk {
    line-height: 150%;
}

.formtk input[type="text"],
.formtk input[type="password"],
.formtk input[type="email"],
.formtk input[type="password"],
.formcontent input[type="text"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtk input[type="submit"],
.formtk input[type="reset"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    border: 1px #ccc solid;
}

.formtk input[type="submit"]:hover,
.formtk input[type="reset"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover{
    background-color: #ccc;
}

.formtk li a {
    color: #080a52;
    text-decoration: none;

}

.formtk li a:hover {
    color: #eb2188;
}

/*menu doc*/

.menudoc ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px #ccc solid;
}
.menudoc ul li a{
    color: #666;
    text-decoration: none;
}
.menudoc ul li:hover{
background-color: #ccc;
}
.searchbox input[type="text"]{
width: 70%;
padding: 5px 10px;
background-color: #fff;
border: 1px #ccc solid;
border-radius: 5px;
}
/* top 10*/
.top10 img{
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}
.top10 a{
    color: #666;
    text-decoration: none;
    font-weight: bolder;
}
.top10 a:hover{
    color: #000;
    text-decoration: underline;
}


/* admin */
.headeradmin {
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}
.headeradmin h1{
    font-size: 2vw;
}
.formtitle{
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}
.formcontent{
    padding: 20px 0px;
}
.formdsloai table{
    width: 100%;
    border-collapse: collapse;
 
}

.formdsloai table th{
    padding: 10px;
    background-color: #ccc;
}
/* .formdsloai table th:nth-child(2){
    width: 30%;
    background-color: #ccc;

}
.formdsloai table th:nth-child(3){
    width: 40%;
    background-color: #ccc;
  
}
.formdsloai table th:nth-child(4){
    width: 20%;
    background-color: #ccc;
   
} */

/*slideshow*/

.formdsloai table td{
    padding: 10px 20px;
    border: 1px #ccc solid;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /*end slideshow*/

  .spct{
    text-align: center;
  }
  .giact p{
    font-size: 15px;
    font-weight: bold;
  }

.thongbao{
    color: red;
}

.blf table{
    width: 90%;
    margin-left: 5%; 
}

.blf table th:nth-child(1){
    width: 50%;
    background-color: #ccc;
}
.blf table th:nth-child(2){
    width: 50%;
    background-color: #ccc;
}

